@font-face {
  font-family: Figtree;
  src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}
:root {
  --bg-body: #f4d04e;
  --bg-card: #ffffff;
  --text-title: #111111;
  --text-description: #7f7f7f;
}
body {
  font-family: Figtree;
  height: 789px;
  max-height: 100%;
  background-color: var(--bg-body);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.container-card {
  width: 290px;
  max-width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 1.12rem;
  background-color: var(--bg-card);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  box-shadow: black 8px 6px 1px 2px;
}
.container-card__image {
  width: inherit;
  max-width: 100%;
  border-radius: 1rem;
}
.container-card__type,
.container-card__title,
.container-card__date {
  color: var(--text-title);
}
.container-card__type {
  margin-top: 0.2rem;
  font-weight: 700;
  font-size: 0.88rem;
  border-radius: 0.2rem;
}
.container-card__date {
  font-weight: 600;
  font-size: 0.88rem;
}
.container-card__title {
  margin-top: 0.6rem;
  font-weight: 900;
  font-size: 1.3rem;
}

/*  */
.container-card__name-avatar {
  font-weight: 700;
}
.container-card__type {
  background-color: var(--bg-body);
  padding: 6px;
}
.container-card__description {
  color: var(--text-description);
  line-height: 1.52;
  text-align: left;
}
.container-card__section-avatar {
  margin-top: 1rem;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container-card__section-avatar__name {
  font-weight: 700;
  font-size: 0.98rem;
}
.container-card__section-avatar__image {
  height: inherit;
  max-height: 100%;
}

/*HOVER EFFECTS*/
.container-card__title:hover {
  cursor: pointer;
  color: var(--bg-body);
}
.container-card:hover {
  box-shadow: black 11px 9px 1px 2px;
  margin: 0 0.4rem 0.4rem 0;
  transition: box-shadow 0.2s cubic-bezier(0.02, 0, 1, 0.18),
    margin 0.12s cubic-bezier(0.65, 0.36, 0.13, 0.5);
}
/**/

.attribution {
  height: 30px;
  font-size: 18px;
  text-align: center;
  padding: 1rem;
  line-height: 1.2;
}
@media (min-width: 375px) {
  .container-card {
    width: 320px;
  }
  .container-card__title {
    font-size: 1.7rem;
  }
}
